@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*===========================================================
# General
===========================================================*/

/*----------------------------
  =======
# Colors
  =======
  #047ead
  #047aed
  #333
  #fff
-----------------------------*/

/* Custom properties */

/* This is used for more usable properties (repeated properties) */

:root {
    --primary-color: #047aed;
    --secondary-color: #333;
    --white-color: #fff;
}

/* End Custom properties */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: var(--secondary-color);
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:  var(--secondary-color);
}

/* Utilities */

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* This is the same as  grid-template-columns: 1fr 1fr; */
    gap: 20px;
    /* Grid gap */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: var(--white-color);
    color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

/* End Utilities */

/*===========================================================
# Navigation
===========================================================*/

.navbar {
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar .navbar-nav {
    display: flex;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--white-color);
    padding: 10px;
    margin: 0 5px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid var(--white-color);
}

/*===========================================================
# Hero
===========================================================*/

.hero {
    height: 400px;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: relative;
    /* That if we want position anything absolute it might be possible */
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin: 20px 0;
}

.hero .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.hero-form {
    position: relative;
    top: 60px;
    height: 350px;
}