/* =======================================================
# main | About
======================================================= */

#about {
    height: 400px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#about .about-text {
    text-align: center;
    margin-top: 60px;
    width: 100%;
    color: #fff;
}

#about .about-text p {
    margin-top: -25px;
    width: 100%;
    font-size: 18px;
    color: #ddd;
    line-height: 1.5rem;
}

#about .about-social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

#about .about-social a {
    text-decoration: none;
    color: var(--gray-color);
    transition: all .3s;
    font-size: 25px;
}

#about .about-social a:hover {
    color: var(--light-gray-color);
}

#about .social {
    position: absolute;
    margin-top: 200px;
    right: 0;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

#about .social a {
    color: #ddd;
    font-size: 25px;
    text-decoration: none;
    transition: all .3s;
}

#about .social a:hover {
    color: var(--redish-color);
}

#about .social::before {
    content: '';
    position: absolute;
    top: 1;
    margin-top: -280px;
    width: 3px;
    height: 50px;
    background: #ddd;
}

#about .social::after {
    content: '';
    position: absolute;
    top: 0;
    margin-top: 223px;
    width: 3px;
    height: 50px;
    background: #ddd;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 768px) {
    #about .about-text {
        margin-top: 60px;
        width: 100%;
    }
    #about .about-text h1 {
        line-height: 4.0rem;
    }
    #about .about-text p {
        margin-top: -25px;
        width: 100%;
        font-size: 18px;
    }
    #about .social {
        position: relative;
        margin-top: -15px;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        gap: 1.5rem;
    }
    #about .social::before {
        content: '';
        position: absolute;
        top: 1;
        margin-top: 0px;
        margin-right: 220px;
        width: 30px;
        height: 3px;
        background: #ddd;
    }
    #about .social::after {
        content: '';
        position: absolute;
        top: 0;
        margin-top: 16px;
        margin-left: 220px;
        width: 30px;
        height: 3px;
        background: #ddd;
    }
}

@media only screen and (max-width: 576px) {
    #about {
        height: 420px;
    }
    #about .about-text {
        margin-top: 50px;
        width: 100%;
    }
    #about .about-text h1 {
        line-height: 4.0rem;
    }
    #about .about-text p {
        margin-top: -25px;
        width: 100%;
        font-size: 18px;
    }
}

@media only screen and (max-width: 300px) {
    #about .about-text h1 {
        line-height: 3.5rem;
        font-size: 40px;
    }
}

/* ==== End Queries ==== */

/* =======================================================
# main | About Cards
======================================================= */

#about-cards {
    padding: 60px 0;
}

#about-cards h1 {
    line-height: 1.5rem;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#about-cards h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 6px;
    top: 1;
    margin-left: 5px;
    margin-top: 55px;
    background: var(--danger-color);
}

#about-cards .side-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2.5rem;
    padding: 0 20px;
}

#about-cards .side-cards .card {
    border-radius: 0px;
    box-shadow: none;
}

#about-cards .side-cards .card-body {
    padding: 10px 30px 10px 30px;
}

#about-cards .side-cards h4 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 0rem;
    text-transform: uppercase;
}

#about-cards .side-cards p {
    margin-top: -7px;
    font-size: 17px;
}

#about-cards .side-cards ul {
    margin-left: -40px;
}

#about-cards .side-cards ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
}

#about-cards .side-cards ul li .fa-bolt {
    color: var(--danger-color);
    font-size: 17px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #about-cards .container {
        padding: 0 60px;
    }
    #about-cards .side-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: .3rem;
    }
}

@media only screen and (max-width: 576px) {
    #about-cards .container {
        padding: 0 20px;
    }
    #about-cards .side-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: .3rem;
    }
    #about-cards h1 {
        font-size: 25px;
        margin-left: 16px;
        white-space: nowrap;
    }
    #about-cards h1::before {
        height: 4px;
        margin-left: 4px;
        margin-top: 42px;
    }
}

/* ==== End Queries ==== */

/* =======================================================
# main | Mission & Vision
======================================================= */

#mission-vision {
    padding: 60px 0;
}

#mission-vision .mivi-img img {
    width: 100%;
}

#mission-vision .side-cards {
    display: flex;
    flex-flow: column wrap;
}

#mission-vision .side-cards .card {
    padding: 20px 30px;
}

#mission-vision .side-cards .card h4 {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 0rem;
    text-transform: uppercase;
}

#mission-vision .side-cards .card p {
    margin-top: -10px;
    font-size: 17px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #mission-vision .container {
        padding: 0 60px;
    }
}

@media only screen and (max-width: 768px) {
    #mission-vision .mivi-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    #mission-vision .container {
        padding: 0 25px;
    }
    #mission-vision .mivi-img img {
        width: 100%;
    }
}

/* ==== End Queries ==== */

/* =======================================================
# main | Core Values
======================================================= */

#core-values {
    padding: 60px 0;
}

#core-values h1 {
    line-height: 1.5rem;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#core-values h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 6px;
    top: 1;
    margin-left: 5px;
    margin-top: 55px;
    background: var(--danger-color);
}

#core-values .side-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .3rem;
}

#core-values .side-cards .card {
    border-radius: 0px;
}

#core-values .side-cards .card::before {
    content: '';
    position: absolute;
    top: 1;
    width: 10px;
    height: 40px;
    background: var(--danger-color);
}

#core-values .side-cards .card-body {
    padding: 20px 30px 20px 30px;
}

#core-values .side-cards .card h4 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 0rem;
    text-transform: uppercase;
}

#core-values .side-cards .card p {
    margin-top: -7px;
    font-size: 17px;
}

#core-values .side-cards .card ul {
    margin-left: -40px;
}

#core-values .side-cards .card ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 8px;
}

#core-values .side-cards .card ul li .fa-lightbulb {
    color: var(--danger-color);
    font-size: 17px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #core-values .container {
        padding: 0 60px;
    }
    #core-values .side-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: .3rem;
    }
}

@media only screen and (max-width: 576px) {
    #core-values .container {
        padding: 0 20px;
    }
    #core-values .side-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: .3rem;
    }
    #core-values h1 {
        font-size: 25px;
        margin-left: 16px;
        white-space: nowrap;
    }
    #core-values h1::before {
        height: 4px;
        margin-left: 4px;
        margin-top: 42px;
    }
}

/* ==== End Queries ==== */

/* =======================================================
# main | Team
======================================================= */

#team {
    padding-top: 60px;
    padding-bottom: 90px;
}

#team h1 {
    color: var(--black-color);
    line-height: 1.5rem;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#team h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 6px;
    top: 1;
    margin-left: 5px;
    margin-top: 65px;
    background: var(--danger-color);
}

#team h3 {
    line-height: .6rem;
    text-transform: uppercase;
    white-space: nowrap;
}

#team .team-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

#team .team-card {
    padding: 20px 30px;
    text-align: center;
}

#team .team-card-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 50%;
}

#team .team-card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
}

#team .personnel small {
    font-weight: bold;
}

#team .personnel .personnel-social {
    display: flex;
    gap: 1.0rem;
}

#team .personnel .personnel-social a {
    text-decoration: none;
    color: var(--danger-color);
    transition: all .3s;
    font-size: 22px;
}

#team .personnel .personnel-social a:hover {
    color: var(--gray-color);
}

@media only screen and (max-width: 1060px) {
    #team h1 {
        font-size: 60px;
    }
    #team h1::before {
        margin-left: 12px;
        margin-top: 58px;
    }
    #team .personnel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
    }
}

@media only screen and (max-width: 768px) {
    #team .personnel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
    }
    #team h1 {
        margin-left: 16px;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 576px) {
    #team .container {
        padding: 0 25px;
    }
    #team h1 {
        font-size: 30px;
        margin-left: 16px;
        white-space: nowrap;
    }
    #team h1::before {
        height: 4px;
        margin-left: 2px;
        margin-top: 40px;
    }
    #team .team-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media only screen and (max-width: 326px) {
    #team h1 {
        font-size: 25px;
    }
    #team h1::before {
        margin-top: 38px;
    }
    #team .personnel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
    }
}

@media only screen and (max-width: 300px) {
    #team h1 {
        font-size: 25px;
    }
    #team h1::before {
        margin-left: 6px;
        margin-top: 38px;
    }
}