/* =======================================================
# General
======================================================= */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: var(--white-color);
}

* {
    font-family: 'Gowun Dodum', sans-serif;
}

:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

.row {
    overflow: hidden;
}

.fadeIn {
    animation: faderIn 1s linear;
}

@keyframes faderIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    animation: faderOut 1s linear;
}

@keyframes faderOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* =======================================================
# Header | Navigation
======================================================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #fff;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    width: 100%;
    border: 1px solid #ddd;
}

.navbar .nav-brand {
    margin-left: 30px;
}

.navbar .brand-logo {
    width: 100px;
}

.navbar .nav-brand-logo-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar .navbar-nav {
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: 30px;
}

.navbar .nav-item {
    list-style: none;
}

.navbar .nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 17px;
    transition: all .3s;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
    color: var(--redish-color);
}

.navbar .nav-link.active {
    color: var(--danger-color);
}

.navbar .btn-call {
    margin-right: 40px;
    text-decoration: none;
}

.navbar #check-btn {
    font-size: 25px;
    color: var(--danger-color);
    display: none;
}

.navbar #check {
    display: none;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    .navbar .nav-brand {
        margin-left: 5px;
    }
    .navbar #check-btn {
        display: block;
        margin-right: 18px;
        cursor: pointer;
    }
    .navbar .navbar-nav {
        position: absolute;
        flex-direction: column;
        background: #fff;
        top: 0;
        left: -150%;
        height: 700px;
        width: 100%;
        margin-top: 70px;
        padding: 40px 30px;
        transition: all .8s;
    }
    .navbar .btn-call {
        position: absolute;
        margin-top: 350px;
        top: 0;
        left: -150%;
        margin-left: 30px;
    }
    .navbar #check:checked~.navbar-nav, .navbar #check:checked~.btn-call {
        left: 0;
    }
}

@media only screen and (max-width: 576px) {
    .navbar .brand-text {
        display: none;
    }
}

@media only screen and (max-width: 326px) {
    .navbar .nav-brand .nav-brand-text {
        font-size: 12px;
    }
    .navbar #check-btn {
        font-size: 22px;
    }
    .navbar .navbar-nav {
        padding: 40px 25px;
    }
    .navbar .btn-call {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 300px) {
    .navbar .nav-brand .nav-brand-text {
        font-size: 8px;
    }
    .navbar #check-btn {
        font-size: 18px;
    }
}

/* ==== End Queries ==== */

/* =======================================================
# main
======================================================= */

main {
    margin-top: 70px;
}

/* =======================================================
# main | Partners
======================================================= */

#partners {
    padding-top: 60px;
    padding-bottom: 120px;
}

#partners h1 {
    line-height: 1.5rem;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#partners h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 6px;
    top: 1;
    margin-left: 5px;
    margin-top: 55px;
    background: var(--danger-color);
}

#partners img {
    width: 250px;
}

@media only screen and (max-width: 576px) {
    #partners h1::before {
        height: 4px;
        margin-top: 52px;
    }
    #partners img {
        width: 100%;
    }
}

@media only screen and (max-width: 326px) {
    #partners h1 {
        line-height: 1.5rem;
        font-size: 35px;
    }
    #partners h1::before {
        height: 4px;
        margin-left: 3px;
        margin-top: 45px;
    }
}

/* ==================================================
# Footer
===================================================*/

footer {
    position: relative;
    z-index: 5;
    padding-top: 60px;
    padding-bottom: 90px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/33.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer .lead {
    font-size: 15px;
    font-weight: 400;
    color: var(--light-gray-color);
}

footer h1 {
    line-height: 3.5rem;
    color: var(--light-gray-color);
}

footer h3 {
    font-weight: 900;
    font-size: 20px;
    line-height: 3.0em;
    color: var(--light-gray-color);
}

footer p {
    font-weight: 500;
    font-size: 20px;
    color: #d8d3d3;
}

footer .btn-call {
    text-decoration: none;
}

footer .social {
    display: flex;
    gap: 1.5rem;
}

footer .social a {
    text-decoration: none;
    color: var(--gray-color);
    font-size: 24px;
    transition: color 0.3s ease;
}

footer .social a:hover, footer .social a:focus {
    color: var(--light-gray-color);
}

footer .footer-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

footer .footer-nav a {
    text-decoration: none;
    margin: 8px 0;
    font-size: 17px;
    color: var(--light-gray-color);
    transition: color 0.3s ease;
}

footer .footer-nav a:hover, footer .footer-nav a:focus {
    color: var(--gray-color);
}

footer .address p {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 16px;
}

/* ======= Media Queries ======= */

@media only screen and (max-width: 1060px) {
    footer .container {
        padding-left: 100px;
        padding-right: 100px;
    }
    footer .nav-brand {
        margin-left: -40px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 768px) {
    footer .container {
        padding-left: 60px;
        padding-right: 60px;
    }
    footer .flex-space-between {
        flex-flow: column wrap;
    }
    footer .social {
        margin-top: 20px;
    }
    footer .nav-brand {
        margin-left: -445px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 576px) {
    footer .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    footer .nav-brand {
        margin-left: -221px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
    footer .lead {
        text-align: center;
    }
}

@media only screen and (max-width: 476px) {
    footer .nav-brand {
        margin-left: -92px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 376px) {
    footer .nav-brand {
        margin-left: -55px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 366px) {
    footer .nav-brand {
        margin-left: -42px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 326px) {
    footer .nav-brand {
        margin-left: 0px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 300px) {
    footer .footer-brand {
        font-size: 12px;
    }
}

/* ======= End Queries ======== */

/* == Go-Top == */

.go_top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.go_top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.go_top a {
    background: var(--danger-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 27px;
    transition: all .5s;
    animation: colur 1s infinite alternate;
}

.go_top .fa-angle-up {
    margin-top: 12px;
    margin-left: 17px;
}

@keyframes colur {
    from {
        color: var(--light-gray-color);
    }
    to {
        color: var(--light-color);
    }
}

.go_top a:hover {
    background: var(--redish-color);
    color: var(--light-color);
    transition: all .5s;
    animation: colour 1s infinite alternate;
}

@keyframes colour {
    from {
        color: var(--light-color);
    }
    to {
        color: var(--light-gray-color);
    }
}