/* =======================================================
# main | Projects
======================================================= */

#projects {
    height: 400px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/79.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#projects .projects-text {
    text-align: center;
    margin-top: 60px;
    width: 100%;
    color: #fff;
}

#projects .projects-text p {
    margin-top: -25px;
    width: 100%;
    font-size: 18px;
    color: #ddd;
    line-height: 1.5rem;
}

#projects .projects-social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

#projects .projects-social a {
    text-decoration: none;
    color: var(--gray-color);
    transition: all .3s;
    font-size: 25px;
}

#projects .projects-social a:hover {
    color: var(--light-gray-color);
}

#projects .social {
    position: absolute;
    margin-top: 200px;
    right: 0;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

#projects .social a {
    color: #ddd;
    font-size: 25px;
    text-decoration: none;
    transition: all .3s;
}

#projects .social a:hover {
    color: var(--redish-color);
}

#projects .social::before {
    content: '';
    position: absolute;
    top: 1;
    margin-top: -280px;
    width: 3px;
    height: 50px;
    background: #ddd;
}

#projects .social::after {
    content: '';
    position: absolute;
    top: 0;
    margin-top: 223px;
    width: 3px;
    height: 50px;
    background: #ddd;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 768px) {
    #projects .projects-text {
        margin-top: 60px;
        width: 100%;
    }
    #projects .projects-text h1 {
        line-height: 4.0rem;
    }
    #projects .projects-text p {
        margin-top: -25px;
        width: 100%;
        font-size: 18px;
    }
    #projects .social {
        position: relative;
        margin-top: -15px;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        gap: 1.5rem;
    }
    #projects .social::before {
        content: '';
        position: absolute;
        top: 1;
        margin-top: 0px;
        margin-right: 220px;
        width: 30px;
        height: 3px;
        background: #ddd;
    }
    #projects .social::after {
        content: '';
        position: absolute;
        top: 0;
        margin-top: 16px;
        margin-left: 220px;
        width: 30px;
        height: 3px;
        background: #ddd;
    }
}

@media only screen and (max-width: 576px) {
    #projects {
        height: 370px;
    }
    #projects .projects-text {
        margin-top: 50px;
        width: 100%;
    }
    #projects .projects-text h1 {
        line-height: 4.0rem;
    }
    #projects .projects-text p {
        margin-top: -25px;
        width: 100%;
        font-size: 18px;
    }
}

@media only screen and (max-width: 300px) {
    #projects .projects-text h1 {
        line-height: 3.5rem;
        font-size: 40px;
    }
}

/* ==== End Queries ==== */

/* =======================================================
# main | projects Cards
======================================================= */

#projects-cards {
    padding: 35px 0 60px 0;
}

#projects-cards .row {
    overflow: hidden;
}

#projects-cards #commercial-row, #projects-cards #residential-row, #projects-cards #industrial-row {
    display: none;
}

.zoom-in {
    animation: .5s zoomIn ease-in-out;
}

.zoom-out {
    animation: .5s zoomOut ease-in-out;
}

@keyframes zoomIn {
    from {
        /* transform: scale(0.8); */
        position: relative;
        margin-right: -100%;
        /* transform: translateY(-10px); */
    }
    to {
        /* transform: scale(1.0); */
        position: relative;
        margin-right: 0%;
        /* transform: translateY(0px); */
    }
}

@keyframes slide-left-right {
    0% {
        position: relative;
        left: -100%;
    }
    25% {
        position: relative;
        left: 0;
    }
    50% {
        position: relative;
        right: -100%;
    }
    100% {
        position: relative;
        right: 0;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(0.8);
    }
}

#projects-cards h1 {
    line-height: 1.5rem;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#projects-cards h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 6px;
    top: 1;
    margin-left: 5px;
    margin-top: 55px;
    background: var(--danger-color);
}

#projects-cards .projects-links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .3rem;
    background: var(--light-color);
    margin-top: 70px;
    padding: 15px 30px;
    border-radius: 5px;
    overflow-x: auto;
}

#projects-cards .projects-links-sticky {
    animation: faderIn .5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid var(--light-gray-color);
    overflow-x: auto;
}

#projects-cards .projects-links span {
    outline: none;
    transition: all .3s;
    padding: 5px 15px;
    color: var(--black-color);
}

#projects-cards .projects-links span:hover {
    cursor: pointer;
    color: var(--white-color);
    background: var(--danger-color);
    padding: 5px 15px;
    border-radius: 5px;
}

#projects-cards .projects-links .active {
    color: var(--white-color);
    background: var(--danger-color);
    padding: 5px 15px;
    border-radius: 5px;
}

#projects-cards .projects-links .active:hover {
    background: var(--dark-color);
}

#projects-cards .side-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .3rem;
}

#projects-cards .side-cards .card-body {
    padding: 5px 30px 20px 30px;
}

#projects-cards .side-cards .card h4 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 0rem;
    text-transform: capitalize;
}

#projects-cards .side-cards .card p {
    margin-top: -7px;
    font-size: 17px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #projects-cards .container {
        padding: 0 60px;
    }
}

@media only screen and (max-width: 768px) {
    #projects-cards .side-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: .3rem;
    }
}

@media only screen and (max-width: 576px) {
    #projects-cards .container {
        padding: 0 20px;
    }
    #projects-cards .side-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: .3rem;
    }
    #projects-cards h1 {
        font-size: 30px;
        margin-left: 16px;
    }
    #projects-cards h1::before {
        margin-left: 5px;
        margin-top: 45px;
    }
}

/* ==== End Queries ==== */

/* =======================================================
# main | Location
======================================================= */

#location {
    padding-top: 60px;
    padding-bottom: 140px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/75.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#location h1 {
    color: var(--light-color);
    line-height: 1.5rem;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#location h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 6px;
    top: 1;
    margin-left: 28px;
    margin-top: 80px;
    background: var(--danger-color);
}

#location h3 {
    line-height: .6rem;
    text-transform: uppercase;
}

#location .card {
    padding: 20px 20px;
    border-radius: 0px;
}

#location iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

@media only screen and (max-width: 1060px) {
    #location h1 {
        font-size: 60px;
    }
    #location h1::before {
        margin-left: 12px;
        margin-top: 58px;
    }
}

@media only screen and (max-width: 576px) {
    #location .container {
        padding: 0 25px;
    }
    #location h1 {
        font-size: 30px;
    }
    #location h1::before {
        height: 4px;
        margin-left: 8px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 300px) {
    #location h1 {
        font-size: 25px;
    }
    #location h1::before {
        margin-left: 6px;
        margin-top: 38px;
    }
}